body {
  margin: 0;
  background: linear-gradient(#87ceeb, #ffffff);
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin: 10px;
}

#score {
  font-size: 24px;
  margin-bottom: 10px;
}

.grid {
  width: 330px;
  height: 330px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.hole {
  width: 100px;
  height: 100px;
  background: brown;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.hole img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  transition: bottom 0.2s;
  cursor: pointer;
}

.hole img.show {
  bottom: 0;
}
