body{
  background:#111;
  color:white;
  text-align:center;
  font-family:Arial;
}

h1{
  margin-top:10px;
}

#game{
  width:360px;
  height:360px;
  margin:20px auto;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap:10px;
}

.hole{
  background:#333;
  border-radius:10px;
  position:relative;
  overflow:hidden;
}

.face{
  width:100%;
  height:100%;
  object-fit:cover;
  cursor:pointer;
}
